# Server Configuration
SERVER_PORT=5001
NODE_ENV=development
# NODE_ENV=production

# Frontend URLs (Used for CORS and redirects)
FRONTEND_LOCAL_URL=http://localhost:3000
FRONTEND_SERVER_URL=https://shopsmart.example.com

# Backend URLs
BACKEND_LOCAL_URL=http://localhost:5001
BACKEND_SERVER_URL=https://api.shopsmart.example.com

# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require&pgbouncer=true

# Redis Configuration
REDIS_LOCAL_URL=redis://localhost:6379
REDIS_SERVER_URL=redis://your_redis_hosted_url:6379
